

.parent-container
{
    display: flex;
    height: 100%;
}

.side{
    flex: 1;
}
.content{
    flex: 1;
    background-color: aqua;
}
.details{
    flex: 1;
}
/*
To check:
Fecxbox css
Git with VS code

To push chantesL

add a message
commit the cahnges(local copy)
Post to remote.
*/