@{
    ViewData["Title"] = "Home Page";
}
@section Styles {
<link href="/css/todo/css" rel="Stylesheet">
}
<div class="parent-container">
    <div class="side">Menu</div>
    <div class="content">Content</div>
    <div class="details">Create New</div>

</div>
