@{
    ViewData["Title"] = "Home Page";
}
@section Styles {
<link href="/css/todo/css" rel="Stylesheet">
<link href="/lib/fontawesome-free-5.14.0-web/css/all" rel="styelesheet">
}
<div class="parent-container">
    <div class="side">Menu</div>

    <div class="content">
        <h4>My Tasks</h4>

        <div id="tasks" c;ass="section-tasks">

        </div>
       </div>
    <div class="details">Create New</div>

</div>

@section Scripts {
    <script src="/js/calander.js"></script>
}
